body {
    padding: 10px;
    font-family: sans-serif;
}

h2{
    text-align: center;
    font-size: 20px;
}

p{
    text-align: justify;
    font-size: 16px;
}

.abtme{
    text-align:left;
    font-size: 16px;
}

table{
    margin: auto;
    width: 50%;
    border-collapse: collapse;
}

@media (max-width: 800px) {
    table{
        width: 90%;
    }
}

th {
    height: 40px;
}

td{
    text-align: center;
    height: 30px;
}

table, th, td{
    border: 1px solid;

}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media (max-width: 800px) {
    .gallery{
        flex-direction: column;
    }
}

.container {
    position: relative;
    width: 300px;
}
  
.image {
    display: block;
    width: 300px;
    height: 400px;
  }
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 12px;
    right: 0;
    height: 400px;
    width: 300px;
    opacity: 0;
    transition: .5s ease;

}

.container:hover .overlay {
    opacity: 1;
}
  
.text {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.c {
    font-size: 18px;
    font-style: italic;
    margin: 16px 31px 31px 16px;
    padding: 16px 24px;
    text-align: center;
}

.c cite {
    font-size: 15px;
    padding-top: 10px;
    display: block;
    text-align: right;
}

.abtcity {
    font-family: sans-serif;
    line-height: 20px;
    word-spacing: 5px;
    text-align:left;
    font-size: 18px;
}

.carousel-item {
    max-height: 500px;
    
}